[Unit]
Description=AdGuard Home: Network-level blocker
ConditionFileIsExecutable={{ adguard_install_dest }}/AdGuardHome/AdGuardHome
After=syslog.target network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart={{ adguard_install_dest }}/AdGuardHome/AdGuardHome "-s" "run"

WorkingDirectory={{ adguard_install_dest }}/AdGuardHome




Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
EnvironmentFile=-/etc/sysconfig/AdGuardHome

[Install]
WantedBy=multi-user.target